.contenedorcalendario{    
    text-align: center;
    padding: 4%;
}
.tituloModal{
    color: grey;
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.modalsectionA{
    margin: auto;
}

.labelInputModal{
    color: grey;
    font-size: 15px;
}

.labelInputModalB{
    color: grey;
    font-size: 16px;
}

.botonesFooter{
    margin: auto;
}

.botonEnAncla{
    color: grey;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    padding: 14px;
    border-radius: 53px;
}
.cerrarModal{
    font-size: 14px;
    background-color: grey;
    border-color: grey;
    border-radius: 60px;
    margin-top: -5px;
    margin-left: 4px;
    border-style: unset;
    color: white;
}

.bm-overlay{
    background:none !important
}

.bm-menu-wrap{
    height: 100% !important;
    background-color:#efefef;
    padding: 4%;
}

.bm-burger-button button{
    visibility: hidden !important; 
}

.navbar{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom right, #12128e, #1eb7e8);
}


ul{
    margin: 9px;
    padding: -44px;
    margin-bottom: -26px;
    display: inline-block;
    text-align: left;
    width: 80%;
}

li{
    list-style: none;
    cursor: pointer;
}

.navegacion{
    font-family: 'Secular One', sans-serif;
    color:white;
    font-size: 12px;
    
}
.texto-navegacion{
    font-size: 15px;
    padding-bottom: -3px;
    display: inline-block;
    padding-bottom: -39px;
    vertical-align: top;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
    border-bottom: 2px solid #03a9f4;
}

.rbc-toolbar-label{
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    color: #1da5de;
    text-transform: uppercase;
}

.rbc-month-row, .rbc-month-view, .rbc-header,.rbc-toolbar button {
    border:none !important;
}

.rbc-month-row + .rbc-month-row {
    border:none !important;
}

.rbc-today {
    background-color: #ffffff!important;
}

.rbc-date-cell a{
    color: grey!important;;


}
.rbc-toolbar button{
    outline-style: none !important;
    box-shadow: none !important;
}
.rbc-toolbar {
    display: grid!important;
}

.rbc-btn-group button + button {
    margin-left: -9px!important;;
    font-weight: bold!important;;
}