.ReactModal__Overlay {
    z-index: 9999999;
}

.listaMetodosDisponibles{
    list-style: none;
    color: grey;
    cursor: pointer;
}
.listaMetodosDisponibles:hover{
    color: black;
    cursor: pointer;
}

.limetodos{
    color:red;
}
.list-group-item.disponibles{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 14px;
    border: none;
    font-weight: bold;
    color: grey;
    
}

.saveButton4{
    margin-top: 251px;
    margin-bottom: 220px;
    color: grey;
    background-color: white;
    border-style: solid;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.inicioModalcenter{
    margin-left: 30%;
}
.labelInputModal2{
    font-weight: bold;
    color:grey

}
.modalsectionD{
    width: 78%;
    margin: auto;
}
.saveButton{
    color: grey;
    background-color: white;
    border-style: solid;
    border-radius: 90px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    outline-style: none;
    box-shadow: none;
}
.borrarMetodoAgregado{
    background-color: white;
    /* border: none; */
    border-style: solid;
    border-radius: 77px;
    /* height: 30px; */
    font-size: 13px;
    color: darkgrey;
    font-weight: bold;
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 0;
}

.limetodosselect{
    color:blue;
}


.contenedorcalendario{    
    text-align: center;
   
}
.tituloModal{
    color: grey;
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.modalsectionA{
    margin: auto;
}

.labelInputModal{
    color: grey;
    font-size: 15px;
}

.labelInputModalB{
    color: grey;
    font-size: 16px;
}

.botonesFooter{
    margin: auto;
}

.botonEnAncla{
    color: grey;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    padding: 14px;
    border-radius: 53px;
}
.cerrarModal{
    font-size: 14px;
    background-color: grey;
    border-color: grey;
    border-radius: 60px;
    margin-top: -5px;
    margin-left: 4px;
    border-style: unset;
    color: white;
}
