.saveButton5 {
    color: white;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline-style: none;
    box-shadow: none;
    float: right;
    height: 56px;
    border: none;
    background-color: #1da5de;
    padding-right: 42px;
    padding-left: 32px;
    font-family: 'Secular One', sans-serif;
}
.botonAReportes {
  color: white;
  font-weight: bold;
  float: right;
}

h1 {
  color: white;
}

body{
  background-color:#efefef;
 
  font-family: 'Roboto', sans-serif;
}
